@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background: rgb(0,0,0);
    background: linear-gradient(115deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 58%, rgba(0,230,123,1) 99%);
    background-size: cover;
    overflow: hidden;
  
  }